build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeDoxyfile.in
build/CMakeDoxygenDefaults.cmake
build/compile_commands.json
build/Main
build/Makefile
build/Tests
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-82711e4fd151eca55e0d.json
build/.cmake/api/v1/reply/codemodel-v2-ee8e16488ab0cd48dda9.json
build/.cmake/api/v1/reply/index-2021-08-27T15-07-19-0267.json
build/.cmake/api/v1/reply/target-doc_doxygen-Debug-32f5b7778439874e3cc8.json
build/.cmake/api/v1/reply/target-Main-Debug-ed5348c4d5c34ed89846.json
build/.cmake/api/v1/reply/target-OptimizerAPI-Debug-43b8c507747288e18b7e.json
build/.cmake/api/v1/reply/target-PolyCapAPI-Debug-cc301af20f8e2262ac0a.json
build/.cmake/api/v1/reply/target-Shadow3API-Debug-fa6fb6820ae591769424.json
build/.cmake/api/v1/reply/target-Sphinx-Debug-7a722903e3893fa7aa57.json
build/.cmake/api/v1/reply/target-Tests-Debug-9f4829b89f12f1b3e748.json
build/.cmake/api/v1/reply/target-XRayLibAPI-Debug-e2444494bc4b32a7281f.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.18.4/CMakeCCompiler.cmake
build/CMakeFiles/3.18.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.18.4/CMakeSystem.cmake
build/CMakeFiles/3.18.4/CompilerIdC/a.out
build/CMakeFiles/3.18.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.18.4/CompilerIdCXX/a.out
build/CMakeFiles/3.18.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Main.dir/build.make
build/CMakeFiles/Main.dir/cmake_clean.cmake
build/CMakeFiles/Main.dir/CXX.includecache
build/CMakeFiles/Main.dir/depend.internal
build/CMakeFiles/Main.dir/depend.make
build/CMakeFiles/Main.dir/DependInfo.cmake
build/CMakeFiles/Main.dir/flags.make
build/CMakeFiles/Main.dir/link.txt
build/CMakeFiles/Main.dir/progress.make
build/CMakeFiles/Main.dir/src/Main.cpp.o
build/CMakeFiles/Tests.dir/build.make
build/CMakeFiles/Tests.dir/cmake_clean.cmake
build/CMakeFiles/Tests.dir/CXX.includecache
build/CMakeFiles/Tests.dir/depend.internal
build/CMakeFiles/Tests.dir/depend.make
build/CMakeFiles/Tests.dir/DependInfo.cmake
build/CMakeFiles/Tests.dir/flags.make
build/CMakeFiles/Tests.dir/link.txt
build/CMakeFiles/Tests.dir/progress.make
build/CMakeFiles/Tests.dir/src/Tests.cpp.o
build/docs/cmake_install.cmake
build/docs/Doxyfile
build/docs/Makefile
build/docs/CMakeFiles/CMakeDirectoryInformation.cmake
build/docs/CMakeFiles/progress.marks
build/docs/CMakeFiles/Sphinx.dir/build.make
build/docs/CMakeFiles/Sphinx.dir/cmake_clean.cmake
build/docs/CMakeFiles/Sphinx.dir/depend.internal
build/docs/CMakeFiles/Sphinx.dir/depend.make
build/docs/CMakeFiles/Sphinx.dir/DependInfo.cmake
build/docs/CMakeFiles/Sphinx.dir/progress.make
build/docs/CMakeFiles/doc_doxygen.dir/build.make
build/docs/CMakeFiles/doc_doxygen.dir/cmake_clean.cmake
build/docs/CMakeFiles/doc_doxygen.dir/depend.internal
build/docs/CMakeFiles/doc_doxygen.dir/depend.make
build/docs/CMakeFiles/doc_doxygen.dir/DependInfo.cmake
build/docs/CMakeFiles/doc_doxygen.dir/progress.make
build/docs/docs/sphinx/.buildinfo
build/docs/docs/sphinx/genindex.html
build/docs/docs/sphinx/objects.inv
build/docs/docs/sphinx/search.html
build/docs/docs/sphinx/searchindex.js
build/docs/docs/sphinx/.doctrees/environment.pickle
build/docs/docs/sphinx/.doctrees/rst/classes.doctree
build/docs/docs/sphinx/.doctrees/rst/index.doctree
build/docs/docs/sphinx/.doctrees/rst/installation.doctree
build/docs/docs/sphinx/.doctrees/rst/introduction.doctree
build/docs/docs/sphinx/.doctrees/rst/licence.doctree
build/docs/docs/sphinx/_sources/rst/classes.rst.txt
build/docs/docs/sphinx/_sources/rst/index.rst.txt
build/docs/docs/sphinx/_sources/rst/installation.rst.txt
build/docs/docs/sphinx/_sources/rst/introduction.rst.txt
build/docs/docs/sphinx/_sources/rst/licence.rst.txt
build/docs/docs/sphinx/_static/basic.css
build/docs/docs/sphinx/_static/doctools.js
build/docs/docs/sphinx/_static/documentation_options.js
build/docs/docs/sphinx/_static/file.png
build/docs/docs/sphinx/_static/jquery-3.5.1.js
build/docs/docs/sphinx/_static/jquery.js
build/docs/docs/sphinx/_static/language_data.js
build/docs/docs/sphinx/_static/minus.png
build/docs/docs/sphinx/_static/plus.png
build/docs/docs/sphinx/_static/pygments.css
build/docs/docs/sphinx/_static/searchtools.js
build/docs/docs/sphinx/_static/underscore-1.12.0.js
build/docs/docs/sphinx/_static/underscore.js
build/docs/docs/sphinx/_static/css/badge_only.css
build/docs/docs/sphinx/_static/css/theme.css
build/docs/docs/sphinx/_static/css/fonts/fontawesome-webfont.eot
build/docs/docs/sphinx/_static/css/fonts/fontawesome-webfont.svg
build/docs/docs/sphinx/_static/css/fonts/fontawesome-webfont.ttf
build/docs/docs/sphinx/_static/css/fonts/fontawesome-webfont.woff
build/docs/docs/sphinx/_static/css/fonts/fontawesome-webfont.woff2
build/docs/docs/sphinx/_static/css/fonts/lato-bold-italic.woff
build/docs/docs/sphinx/_static/css/fonts/lato-bold-italic.woff2
build/docs/docs/sphinx/_static/css/fonts/lato-bold.woff
build/docs/docs/sphinx/_static/css/fonts/lato-bold.woff2
build/docs/docs/sphinx/_static/css/fonts/lato-normal-italic.woff
build/docs/docs/sphinx/_static/css/fonts/lato-normal-italic.woff2
build/docs/docs/sphinx/_static/css/fonts/lato-normal.woff
build/docs/docs/sphinx/_static/css/fonts/lato-normal.woff2
build/docs/docs/sphinx/_static/css/fonts/Roboto-Slab-Bold.woff
build/docs/docs/sphinx/_static/css/fonts/Roboto-Slab-Bold.woff2
build/docs/docs/sphinx/_static/css/fonts/Roboto-Slab-Regular.woff
build/docs/docs/sphinx/_static/css/fonts/Roboto-Slab-Regular.woff2
build/docs/docs/sphinx/_static/fonts/fontawesome-webfont.eot
build/docs/docs/sphinx/_static/fonts/fontawesome-webfont.svg
build/docs/docs/sphinx/_static/fonts/fontawesome-webfont.ttf
build/docs/docs/sphinx/_static/fonts/fontawesome-webfont.woff
build/docs/docs/sphinx/_static/fonts/fontawesome-webfont.woff2
build/docs/docs/sphinx/_static/fonts/Inconsolata-Bold.ttf
build/docs/docs/sphinx/_static/fonts/Inconsolata-Regular.ttf
build/docs/docs/sphinx/_static/fonts/Inconsolata.ttf
build/docs/docs/sphinx/_static/fonts/Lato-Bold.ttf
build/docs/docs/sphinx/_static/fonts/Lato-Regular.ttf
build/docs/docs/sphinx/_static/fonts/RobotoSlab-Bold.ttf
build/docs/docs/sphinx/_static/fonts/RobotoSlab-Regular.ttf
build/docs/docs/sphinx/_static/fonts/Lato/lato-bold.eot
build/docs/docs/sphinx/_static/fonts/Lato/lato-bold.ttf
build/docs/docs/sphinx/_static/fonts/Lato/lato-bold.woff
build/docs/docs/sphinx/_static/fonts/Lato/lato-bold.woff2
build/docs/docs/sphinx/_static/fonts/Lato/lato-bolditalic.eot
build/docs/docs/sphinx/_static/fonts/Lato/lato-bolditalic.ttf
build/docs/docs/sphinx/_static/fonts/Lato/lato-bolditalic.woff
build/docs/docs/sphinx/_static/fonts/Lato/lato-bolditalic.woff2
build/docs/docs/sphinx/_static/fonts/Lato/lato-italic.eot
build/docs/docs/sphinx/_static/fonts/Lato/lato-italic.ttf
build/docs/docs/sphinx/_static/fonts/Lato/lato-italic.woff
build/docs/docs/sphinx/_static/fonts/Lato/lato-italic.woff2
build/docs/docs/sphinx/_static/fonts/Lato/lato-regular.eot
build/docs/docs/sphinx/_static/fonts/Lato/lato-regular.ttf
build/docs/docs/sphinx/_static/fonts/Lato/lato-regular.woff
build/docs/docs/sphinx/_static/fonts/Lato/lato-regular.woff2
build/docs/docs/sphinx/_static/fonts/RobotoSlab/roboto-slab-v7-bold.eot
build/docs/docs/sphinx/_static/fonts/RobotoSlab/roboto-slab-v7-bold.ttf
build/docs/docs/sphinx/_static/fonts/RobotoSlab/roboto-slab-v7-bold.woff
build/docs/docs/sphinx/_static/fonts/RobotoSlab/roboto-slab-v7-bold.woff2
build/docs/docs/sphinx/_static/fonts/RobotoSlab/roboto-slab-v7-regular.eot
build/docs/docs/sphinx/_static/fonts/RobotoSlab/roboto-slab-v7-regular.ttf
build/docs/docs/sphinx/_static/fonts/RobotoSlab/roboto-slab-v7-regular.woff
build/docs/docs/sphinx/_static/fonts/RobotoSlab/roboto-slab-v7-regular.woff2
build/docs/docs/sphinx/_static/js/badge_only.js
build/docs/docs/sphinx/_static/js/html5shiv-printshiv.min.js
build/docs/docs/sphinx/_static/js/html5shiv.min.js
build/docs/docs/sphinx/_static/js/modernizr.min.js
build/docs/docs/sphinx/_static/js/theme.js
build/docs/docs/sphinx/rst/classes.html
build/docs/docs/sphinx/rst/index.html
build/docs/docs/sphinx/rst/installation.html
build/docs/docs/sphinx/rst/introduction.html
build/docs/docs/sphinx/rst/licence.html
build/docs/html/annotated.html
build/docs/html/bc_s.png
build/docs/html/bdwn.png
build/docs/html/classes.html
build/docs/html/classOptimizer-members.html
build/docs/html/classOptimizer.html
build/docs/html/classPolyCapAPI-members.html
build/docs/html/classPolyCapAPI.html
build/docs/html/classShadow3API-members.html
build/docs/html/classShadow3API.html
build/docs/html/classXRayLibAPI-members.html
build/docs/html/classXRayLibAPI.html
build/docs/html/closed.png
build/docs/html/dir_68267d1309a1af8e8297ef4c3efbcdba.html
build/docs/html/dir_da61e3e9a357748887e3ca8d7c5a0c16.html
build/docs/html/doc.png
build/docs/html/doxygen.css
build/docs/html/doxygen.svg
build/docs/html/dynsections.js
build/docs/html/files.html
build/docs/html/folderclosed.png
build/docs/html/folderopen.png
build/docs/html/functions_func.html
build/docs/html/functions.html
build/docs/html/globals_func.html
build/docs/html/globals.html
build/docs/html/index.html
build/docs/html/jquery.js
build/docs/html/Main_8cpp.html
build/docs/html/menu.js
build/docs/html/menudata.js
build/docs/html/nav_f.png
build/docs/html/nav_g.png
build/docs/html/nav_h.png
build/docs/html/open.png
build/docs/html/Optimizer_8hpp_source.html
build/docs/html/PolyCapAPI_8hpp_source.html
build/docs/html/Shadow3API_8hpp_source.html
build/docs/html/splitbar.png
build/docs/html/sync_off.png
build/docs/html/sync_on.png
build/docs/html/tab_a.png
build/docs/html/tab_b.png
build/docs/html/tab_h.png
build/docs/html/tab_s.png
build/docs/html/tabs.css
build/docs/html/XRayLibAPI_8hpp_source.html
build/docs/html/search/all_0.html
build/docs/html/search/all_0.js
build/docs/html/search/all_1.html
build/docs/html/search/all_1.js
build/docs/html/search/all_2.html
build/docs/html/search/all_2.js
build/docs/html/search/all_3.html
build/docs/html/search/all_3.js
build/docs/html/search/all_4.html
build/docs/html/search/all_4.js
build/docs/html/search/classes_0.html
build/docs/html/search/classes_0.js
build/docs/html/search/classes_1.html
build/docs/html/search/classes_1.js
build/docs/html/search/classes_2.html
build/docs/html/search/classes_2.js
build/docs/html/search/classes_3.html
build/docs/html/search/classes_3.js
build/docs/html/search/close.svg
build/docs/html/search/files_0.html
build/docs/html/search/files_0.js
build/docs/html/search/functions_0.html
build/docs/html/search/functions_0.js
build/docs/html/search/functions_1.html
build/docs/html/search/functions_1.js
build/docs/html/search/functions_2.html
build/docs/html/search/functions_2.js
build/docs/html/search/mag_sel.svg
build/docs/html/search/nomatches.html
build/docs/html/search/search_l.png
build/docs/html/search/search_m.png
build/docs/html/search/search_r.png
build/docs/html/search/search.css
build/docs/html/search/search.js
build/docs/html/search/searchdata.js
build/docs/latex/annotated.tex
build/docs/latex/classOptimizer.tex
build/docs/latex/classPolyCapAPI.tex
build/docs/latex/classShadow3API.tex
build/docs/latex/classXRayLibAPI.tex
build/docs/latex/doxygen.sty
build/docs/latex/files.tex
build/docs/latex/longtable_doxygen.sty
build/docs/latex/Main_8cpp.tex
build/docs/latex/Makefile
build/docs/latex/Optimizer_8hpp_source.tex
build/docs/latex/PolyCapAPI_8hpp_source.tex
build/docs/latex/refman.tex
build/docs/latex/Shadow3API_8hpp_source.tex
build/docs/latex/tabu_doxygen.sty
build/docs/latex/XRayLibAPI_8hpp_source.tex
build/docs/xml/classOptimizer.xml
build/docs/xml/classPolyCapAPI.xml
build/docs/xml/classShadow3API.xml
build/docs/xml/classXRayLibAPI.xml
build/docs/xml/combine.xslt
build/docs/xml/compound.xsd
build/docs/xml/dir_68267d1309a1af8e8297ef4c3efbcdba.xml
build/docs/xml/dir_da61e3e9a357748887e3ca8d7c5a0c16.xml
build/docs/xml/Doxyfile.xml
build/docs/xml/doxyfile.xsd
build/docs/xml/index.xml
build/docs/xml/index.xsd
build/docs/xml/Main_8cpp.xml
build/docs/xml/Optimizer_8cpp.xml
build/docs/xml/Optimizer_8hpp.xml
build/docs/xml/PolyCapAPI_8cpp.xml
build/docs/xml/PolyCapAPI_8hpp.xml
build/docs/xml/Shadow3API_8cpp.xml
build/docs/xml/Shadow3API_8hpp.xml
build/docs/xml/Tests_8cpp.xml
build/docs/xml/xml.xsd
build/docs/xml/XRayLibAPI_8cpp.xml
build/docs/xml/XRayLibAPI_8hpp.xml
build/src/api/cmake_install.cmake
build/src/api/libOptimizerAPI.a
build/src/api/libPolyCapAPI.a
build/src/api/libShadow3API.a
build/src/api/libXRayLibAPI.a
build/src/api/Makefile
build/src/api/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/api/CMakeFiles/progress.marks
build/src/api/CMakeFiles/OptimizerAPI.dir/build.make
build/src/api/CMakeFiles/OptimizerAPI.dir/cmake_clean_target.cmake
build/src/api/CMakeFiles/OptimizerAPI.dir/cmake_clean.cmake
build/src/api/CMakeFiles/OptimizerAPI.dir/CXX.includecache
build/src/api/CMakeFiles/OptimizerAPI.dir/depend.internal
build/src/api/CMakeFiles/OptimizerAPI.dir/depend.make
build/src/api/CMakeFiles/OptimizerAPI.dir/DependInfo.cmake
build/src/api/CMakeFiles/OptimizerAPI.dir/flags.make
build/src/api/CMakeFiles/OptimizerAPI.dir/link.txt
build/src/api/CMakeFiles/OptimizerAPI.dir/Optimizer.cpp.o
build/src/api/CMakeFiles/OptimizerAPI.dir/progress.make
build/src/api/CMakeFiles/PolyCapAPI.dir/build.make
build/src/api/CMakeFiles/PolyCapAPI.dir/cmake_clean_target.cmake
build/src/api/CMakeFiles/PolyCapAPI.dir/cmake_clean.cmake
build/src/api/CMakeFiles/PolyCapAPI.dir/CXX.includecache
build/src/api/CMakeFiles/PolyCapAPI.dir/depend.internal
build/src/api/CMakeFiles/PolyCapAPI.dir/depend.make
build/src/api/CMakeFiles/PolyCapAPI.dir/DependInfo.cmake
build/src/api/CMakeFiles/PolyCapAPI.dir/flags.make
build/src/api/CMakeFiles/PolyCapAPI.dir/link.txt
build/src/api/CMakeFiles/PolyCapAPI.dir/PolyCapAPI.cpp.o
build/src/api/CMakeFiles/PolyCapAPI.dir/progress.make
build/src/api/CMakeFiles/Shadow3API.dir/build.make
build/src/api/CMakeFiles/Shadow3API.dir/cmake_clean_target.cmake
build/src/api/CMakeFiles/Shadow3API.dir/cmake_clean.cmake
build/src/api/CMakeFiles/Shadow3API.dir/CXX.includecache
build/src/api/CMakeFiles/Shadow3API.dir/depend.internal
build/src/api/CMakeFiles/Shadow3API.dir/depend.make
build/src/api/CMakeFiles/Shadow3API.dir/DependInfo.cmake
build/src/api/CMakeFiles/Shadow3API.dir/flags.make
build/src/api/CMakeFiles/Shadow3API.dir/link.txt
build/src/api/CMakeFiles/Shadow3API.dir/progress.make
build/src/api/CMakeFiles/Shadow3API.dir/Shadow3API.cpp.o
build/src/api/CMakeFiles/XRayLibAPI.dir/build.make
build/src/api/CMakeFiles/XRayLibAPI.dir/cmake_clean_target.cmake
build/src/api/CMakeFiles/XRayLibAPI.dir/cmake_clean.cmake
build/src/api/CMakeFiles/XRayLibAPI.dir/CXX.includecache
build/src/api/CMakeFiles/XRayLibAPI.dir/depend.internal
build/src/api/CMakeFiles/XRayLibAPI.dir/depend.make
build/src/api/CMakeFiles/XRayLibAPI.dir/DependInfo.cmake
build/src/api/CMakeFiles/XRayLibAPI.dir/flags.make
build/src/api/CMakeFiles/XRayLibAPI.dir/link.txt
build/src/api/CMakeFiles/XRayLibAPI.dir/progress.make
build/src/api/CMakeFiles/XRayLibAPI.dir/XRayLibAPI.cpp.o
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
